<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Problem Four</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>

<body>
    <h1 class="center-text">devCodeCamp Django Querying Lab</h2>
        <nav>
            <ul>
                <li><a href="{% url 'lab:index' %}">List of Students</a></li>
                <li><a href="{% url 'lab:one' %}">Problem One</a></li>
                <li><a href="{% url 'lab:two' %}">Problem Two</a></li>
                <li><a href="{% url 'lab:three' %}">Problem Three</a></li>
                <li><a href="{% url 'lab:four' %}">Problem Four</a></li>
                <li><a href="{% url 'lab:five' %}">Problem Five</a></li>
                <li><a href="{% url 'lab:six' %}">Problem Six</a></li>
            </ul>
        </nav>

    <div class="center-text">
    <h1>Programming Students</h1>
        <table class="center-table">
            <thead>
                <tr>
                    <th>Student Name</th><th>Grade</th>
                </tr>
            </thead>
            <tbody>
                {% for student in programming_students %}
                <tr>
                    <td>{{student.student}}</td><td>{{student.grade}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>